<option disabled selected value style="display: none"></option>
<option value="Lionel Messi">Lionel Messi</option>
<option value="Luis Suarez">Luis Suarez</option>
<option value="Sergio Aguero">Sergio Aguero</option>
<option value="Gonzalo Higuain">Gonzalo Higuain</option>
<option value="Alexis Sanchez">Alexis Sanchez</option>
<option value="Edison Cavani">Edison Cavani</option>
<option value="Ricardo Oliveira">Ricardo Oliveira</option>
<option value="Carlos Tevez">Carlos Tevez</option>
<option value="Givanildo Hulk">Givanildo Hulk</option>
<option value="Paul Dybala">Paul Dybala</option>
<option value="Almeida Barbosa">Almeida Barbosa</option>
<option value="Carlos Bacca">Carlos Bacca</option>
<option value="Clint Dempsey">Clint Dempsey</option>
<option value="Javier Hernandez">Javier Hernandez</option>
<option value="de Souza Douglas Costa">de Souza Douglas Costa</option>
<option value="Abel Hernandez">Abel Hernandez</option>
<option value="Oribe Peralta">Oribe Peralta</option>
<option value="Adrian Ramos">Adrian Ramos</option>
<option value="Carlos Alberto Vela">Carlos Alberto Vela</option>
<option value="Jozy Altidore">Jozy Altidore</option>
<option value="Willian">Willian</option>
<option value="Angel di Maria">Angel di Maria</option>
<option value="Christian Stuani">Christian Stuani</option>
<option value="Jose Paolo Guerrero">Jose Paolo Guerrero</option>
<option value="Marcio Rafinha">Marcio Rafinha</option>
<option value="Philippe Coutinho">Philippe Coutinho</option>
<option value="Antonio Sanabria">Antonio Sanabria</option>
<option value="James Rodriguez">James Rodriguez</option>
<option value="Alvaro Saborio">Alvaro Saborio</option>
<option value="Arturo Vidal">Arturo Vidal</option>
<option value="Other">Other</option>