<div class="form-group">
  <label class="control-label col-sm-2">Group A</label>
  <p class="help-block col-sm-5">Insert scores for each team like shown below</p>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games A1 & A2</label>
  	<label class="control-label col-sm-1" for="a1h">USA</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a1h" placeholder="3"required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a1a" placeholder="0"required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a1a">Colombia</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="a2h">Costa Rica</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a2h" placeholder="2" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a2a" placeholder="2" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a2a">Paraguay</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games A3 & A4</label>
  	<label class="control-label col-sm-1" for="a3h">USA</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a3a">Costa Rica</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="a4h">Colombia</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a4a">Paraguay</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games A5 & A6</label>
  	<label class="control-label col-sm-1" for="a5h">USA</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a5a">Paraguay</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="a6h">Colombia</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a6a">Costa Rica</label>
  </div>


  
  <div class="form-group">
  <label class="control-label col-sm-2">Group B</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games B1 & B2</label>
  	<label class="control-label col-sm-1" for="b1h">Haiti</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b1a">Peru</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="b2h">Brazil</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b2a">Ecuador</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games B3 & B4</label>
  	<label class="control-label col-sm-1" for="b3h">Brazil</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b3a">Haiti</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="b4h">Ecuador</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b4a">Peru</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games B5 & B6</label>
  	<label class="control-label col-sm-1" for="b5h">Ecuador</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b5a">Haiti</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="b6h">Brazil</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b6a">Peru</label>
  </div>


  <div class="form-group">
  <label class="control-label col-sm-2">Group C</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games C1 & C2</label>
  	<label class="control-label col-sm-1" for="c1h">Jamaica</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c1a">Venezuela</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="c2h">Mexico</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c2a">Uruguay</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games C3 & C4</label>
  	<label class="control-label col-sm-1" for="c3h">Uruguay</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c3a">Venezuela</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="c4h">Mexico</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c4a">Jamaica</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games C5 & C6</label>
  	<label class="control-label col-sm-1" for="c5h">Mexico</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c5a">Venezuela</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="c6h">Uruguay</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c6a">Jamaica</label>
  </div>


  <div class="form-group">
  <label class="control-label col-sm-2">Group D</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games D1 & D2</label>
  	<label class="control-label col-sm-1" for="d1h">Panama</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d1a">Bolivia</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="d2h">Argentina</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d2a">Chile</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games D3 & D4</label>
  	<label class="control-label col-sm-1" for="d3h">Chile</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d3a">Bolivia</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="d4h">Argentina</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d4a">Panama</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games D5 & D6</label>
  	<label class="control-label col-sm-1" for="d5h">Chile</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d5a">Panama</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="d6h">Argentina</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d6a">Bolivia</label>
  </div>
