<div class="col-sm-2"></div>
<h4 class="col-sm-10">**If you change any scores make sure to click button again to recalculate**</h4>
<br>

<div class="form-group">
  <label class="control-label col-sm-2">Group Standings</label>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group A</label>
  	<label class="control-label col-sm-2" for="a1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="a1" name="a1"  required>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="a2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="a2" name="a2"  required>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group B</label>
  	<label class="control-label col-sm-2" for="b1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="b1" name="b1"  required>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="b2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="b2" name="b2"  required>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group C</label>
  	<label class="control-label col-sm-2" for="c1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="c1" name="c1"  required>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="c2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="c2" name="c2"  required>
		</select>
  	</div>
  </div>

  <div class="form-group">
  	<label class="control-label col-sm-2">Group D</label>
  	<label class="control-label col-sm-2" for="d1">First Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="d1" name="d1"  required>
		</select>
  	</div>
  	<label class="control-label col-sm-2" for="d2">Second Place</label>
  	<div class="col-sm-2">
  		<select class="form-control group_select" type="text" id="d2" name="d2"  required>
		</select>
  	</div>
  </div>

 