<style type="text/css">
	td, th {
		text-align: center;
	}
	table, th, td {
	   border: 1px solid black;
	}
</style>

<p>Thank you for submitting. This is just an email confirming that everything went well</p>
<p>Below you should be able to see any of the brackets you have submited, make sure that everything is correct.</p>
<p>Check the website for any new announcments or update.</p>
<a href="http://copaamerica16.herokuapp.com/">Link to Website</a><p>Thanks,</p><p>Ignacio and Jose Torras</p>

<br>
{% for sub in submissions %}
{% if sub.email == email %}
<h3>Submission {{ sub.submission_number }} Points: {{ sub.points }}</h1>
	<br>
	<table>
		<thead>
			<tr>
				<th>Match #</th>
				<th>Home Team</th>
				<th colspan="2">Score</th>
				<th>Away Team</th>
				<th>Match #</th>
				<th>Home Team</th>
				<th colspan="2">Score</th>
				<th>Away Team</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th colspan="10">Group A</th>
			</tr>
			<tr>
				<th>A1</th>
				<td>USA</td>
				<td>{{ sub.a1h }}</td>
				<td>{{ sub.a1a }}</td>
				<td>Colombia</td>
				<th>A2</th>
				<td>Costa Rica</td>
				<td>{{ sub.a2h }}</td>
				<td>{{ sub.a2a }}</td>
				<td>Paraguay</td>
			</tr>
			<tr>
				<th>A3</th>
				<td>USA</td>
				<td>{{ sub.a3h }}</td>
				<td>{{ sub.a3a }}</td>
				<td>Costa Rica</td>
				<th>A4</th>
				<td>Colombia</td>
				<td>{{ sub.a4h }}</td>
				<td>{{ sub.a4a }}</td>
				<td>Paraguay</td>
			</tr>
			<tr>
				<th>A5</th>
				<td>USA</td>
				<td>{{ sub.a5h }}</td>
				<td>{{ sub.a5a }}</td>
				<td>Paraguay</td>
				<th>A6</th>
				<td>Colombia</td>
				<td>{{ sub.a6h }}</td>
				<td>{{ sub.a6a }}</td>
				<td>Costa Rica</td>
			</tr>
			<tr>
				<th colspan="10">Group B</th>
			</tr>
			<tr>
				<th>B1</th>
				<td>Haiti</td>
				<td>{{ sub.b1h }}</td>
				<td>{{ sub.b1a }}</td>
				<td>Peru</td>
				<th>B2</th>
				<td>Brazil</td>
				<td>{{ sub.b2h }}</td>
				<td>{{ sub.b2a }}</td>
				<td>Ecuador</td>
			</tr>
			<tr>
				<th>B3</th>
				<td>Brazil</td>
				<td>{{ sub.b3h }}</td>
				<td>{{ sub.b3a }}</td>
				<td>Haiti</td>
				<th>B4</th>
				<td>Ecuador</td>
				<td>{{ sub.b4h }}</td>
				<td>{{ sub.b4a }}</td>
				<td>Peru</td>
			</tr>
			<tr>
				<th>B5</th>
				<td>Ecuador</td>
				<td>{{ sub.b5h }}</td>
				<td>{{ sub.b5a }}</td>
				<td>Haiti</td>
				<th>B6</th>
				<td>Brazil</td>
				<td>{{ sub.b6h }}</td>
				<td>{{ sub.b6a }}</td>
				<td>Peru</td>
			</tr>
			<tr>
				<th colspan="10">Group C</th>
			</tr>
			<tr>
				<th>C1</th>
				<td>Jamaica</td>
				<td>{{ sub.c1h }}</td>
				<td>{{ sub.c1a }}</td>
				<td>Venezuela</td>
				<th>C2</th>
				<td>Mexico</td>
				<td>{{ sub.c2h }}</td>
				<td>{{ sub.c2a }}</td>
				<td>Uruguay</td>
			</tr>
			<tr>
				<th>C3</th>
				<td>Uruguay</td>
				<td>{{ sub.c3h }}</td>
				<td>{{ sub.c3a }}</td>
				<td>Venezuela</td>
				<th>C4</th>
				<td>Mexico</td>
				<td>{{ sub.c4h }}</td>
				<td>{{ sub.c4a }}</td>
				<td>Jamaica</td>
			</tr>
			<tr>
				<th>C5</th>
				<td>Mexico</td>
				<td>{{ sub.c5h }}</td>
				<td>{{ sub.c5a }}</td>
				<td>Venezuela</td>
				<th>C6</th>
				<td>Uruguay</td>
				<td>{{ sub.c6h }}</td>
				<td>{{ sub.c6a }}</td>
				<td>Jamaica</td>
			</tr>
			<tr>
				<th colspan="10">Group D</th>
			</tr>
			<tr>
				<th>D1</th>
				<td>Panama</td>
				<td>{{ sub.d1h }}</td>
				<td>{{ sub.d1a }}</td>
				<td>Bolivia</td>
				<th>D2</th>
				<td>Argentina</td>
				<td>{{ sub.d2h }}</td>
				<td>{{ sub.d2a }}</td>
				<td>Chile</td>
			</tr>
			<tr>
				<th>D3</th>
				<td>Chile</td>
				<td>{{ sub.d3h }}</td>
				<td>{{ sub.d3a }}</td>
				<td>Bolivia</td>
				<th>D4</th>
				<td>Argentina</td>
				<td>{{ sub.d4h }}</td>
				<td>{{ sub.d4a }}</td>
				<td>Panama</td>
			</tr>
			<tr>
				<th>D5</th>
				<td>Chile</td>
				<td>{{ sub.d5h }}</td>
				<td>{{ sub.d5a }}</td>
				<td>Panama</td>
				<th>D6</th>
				<td>Argentina</td>
				<td>{{ sub.d6h }}</td>
				<td>{{ sub.d6a }}</td>
				<td>Bolivia</td>
			</tr>
			<tr>
				<th colspan="10">Group Standings</th>
			</tr>
			<tr>
				<th>Group</th>
				<th colspan="2">1st</th>
				<th colspan="2">2nd</th>
				<th>Group</th>
				<th colspan="2">1st</th>
				<th colspan="2">2nd</th>
			</tr>
			<tr>
				<th>A</th>
				<td colspan="2">{{ sub.a1 }}</td>
				<td colspan="2">{{ sub.a2 }}</td>
				<th>B</th>
				<td colspan="2">{{ sub.b1 }}</td>
				<td colspan="2">{{ sub.b2 }}</td>
			</tr>
			<tr>
				<th>C</th>
				<td colspan="2">{{ sub.c1 }}</td>
				<td colspan="2">{{ sub.c2 }}</td>
				<th>D</th>
				<td colspan="2">{{ sub.d1 }}</td>
				<td colspan="2">{{ sub.d2 }}</td>
			</tr>
			<tr>
				<th colspan="10">Semi Finalists</th>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">{{ sub.semi1 }}</td>
				<td colspan="2">{{ sub.semi2 }}</td>
				<td colspan="2">{{ sub.semi3 }}</td>
				<td colspan="2">{{ sub.semi4 }}</td>
				<td></td>
			</tr>
			<tr>
				<th colspan="10">Finalists</th>
			</tr>
			<tr>
				<th></th>
				<th colspan="2">Finalist 1</th>
				<th colspan="2">Finalist 2</th>
				<th colspan="2">Champion</th>
				<th colspan="2">3rd Place</th>
				<th></th>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">{{ sub.fin1 }}</td>
				<td colspan="2">{{ sub.fin2 }}</td>
				<td colspan="2">{{ sub.champion }}</td>
				<td colspan="2">{{ sub.third_place }}</td>
				<td></td>
			</tr>
			<tr>
				<th colspan="10">Top Scorer</th>
			</tr>
			<tr>
				<td colspan="10">{{ sub.top_scorer }}</td>
			</tr>
		</tbody>
	</table>
	<br><br><br>
	{% endif %}
	{% endfor %}	